@font-face {
    font-family: BYekan;
    src: url(../css/Fonts/MyFonts/BYekan.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: BYekanBold;
    src: url('../css/Fonts/MyFonts/BYekan+ Bold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: BYekanPluse;
    src: url(../css/Fonts/MyFonts/BYekan+.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}
