@page "/home"
@inject NavigationManager navigationManager
@inject StateContainer stateContainer


<h1>خوش آمدید</h1>


@code {

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrWhiteSpace(stateContainer.Token))
        {
            navigationManager.NavigateTo("/");
        }
    }
}